<h3 class="d-flex justify-content-center py-2 py-md-3 mt-4 title1 display-1">
  What We Do
</h3>

<section class="w-100">
  <swiper-container id="serviceSwiper" init="false">
    <swiper-slide class="py-5 px-2" *ngFor="let service of services">
      <div class="card border-0 shadow-lg">
        <img
          [src]="service.image"
          class="card-img-top img-fluid object-fit-cover"
          [alt]="service.title"
        />
        <div class="card-body">
          <h5 class="card-title">{{ service.title }}</h5>
          <p class="card-text text-muted d-none d-md-block">{{ service.desc }}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
