<nav class="navbar fixed-top navbar-expand-lg bg-white nav-glass">
  <div class="container-xxl">
    <!-- Logo on the left -->
    <a class="navbar-brand" href="#">
      <img
        src="../../assets/images/lemurianLogo.jpg"
        alt="Logo"
        class="rounded-5 img-fluid"
        style="max-width: 50px; height: 50px"
      />
    </a>

    <!-- Hamburger menu toggle for small screens -->
    <a
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </a>

    <!-- Navbar links on the right (collapsed menu) -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul
        class="navbar-nav align-items-end pe-5 d-flex w-100 justify-content-center"
      >
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-block d-md-none" href="/login">Login</a>
        </li>
      </ul>
    </div>
    <a class="navbar-brand d-none d-md-block" href="/login">
      <img
        src="../../assets/images/lemurianLogo.jpg"
        alt="Logo"
        class="rounded-5 img-fluid"
        style="max-width: 50px; height: 50px"
      />
    </a>
  </div>
</nav>
