<div class="row g-0">
  <div class="col-12 position-relative col-md-6">
    <div
      id="heroLeft"
      data-bs-ride="carousel"
      class="carousel carousel-dark slide"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#heroLeft"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#heroLeft"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#heroLeft"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
          <img
            src="../../assets/images/hero/hero1.jpg"
            class="img-fluid w-100 object-fit-contain"
            alt="..."
          />
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div> -->
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img
            src="../../assets/images/hero/hero2.jpg"
            class="img-fluid w-100 object-fit-contain"
            alt="..."
          />
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div> -->
        </div>
        <div class="carousel-item">
          <img
            src="../../assets/images/hero/hero3.jpg"
            class="img-fluid w-100 object-fit-contain"
            alt="..."
          />
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div> -->
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#heroLeft"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#heroLeft"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="position-absolute w-100 h-100 overlay"></div>

  </div>
  <div
    class="col-12 col-md-6 text-white position-relative d-flex flex-column justify-content-center align-items-center"
  >
    <!-- Image -->
    <img
      src="../../assets/images/hero/hero1.jpg"
      class="img-fluid w-100 object-fit-contain"
      alt="..."
    />

    <!-- Overlay -->
    <div class="position-absolute w-100 h-100 overlay"></div>

    <!-- Content -->
    <div class="position-absolute w-100 text-container">
      <div
        class="w-100 d-flex flex-column justify-content-between align-items-center"
      >
        <div class="d-flex w-100">
          <h1 class="display-4 ps-1 hero-font font-weight-bold text-shadow">
            Decor
          </h1>
        </div>
        <div class="d-flex justify-content-end w-100">
          <h1 class="display-4 pe-1 hero-font font-weight-bold text-shadow">
            Snap
          </h1>
        </div>
        <div class="row text-center">
          <h1 class="display-4 font-weight-bold hero-font text-shadow">
            Repeat
          </h1>
        </div>
        <div class="row text-center">
          <p class="lead text-center mt-1 font-italic">
            We’ll Make Your Event Pop – Literally!
          </p>
        </div>
        <div class="row text-center">
          <button class="btn btn-outline-light btn-lg mt-1">
            Let's Get Started
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
